* {
    margin: 0;
    padding: 0;
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    color: #717170;
    font-weight: 200;
}
html,body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
}
.intro, .contact, .resume{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
}

::selection {
    background-color: #FAE100;
}

li {
    list-style: none;
}
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 0;
    margin: 0;
    justify-content: right;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-right: 20px;
    justify-content: right;
    align-content: flex-end;
}

.nav img {
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    height: auto;
    margin: 0px 5px;
    opacity: 80%;
}

.about, .skills, .project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto auto 100px 30%;
    max-width: 100%;
}

.contact, .resume {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 200px 10%;
    font-size: 1.4rem;
}
h3 a, h3 a {
    font-size: 3rem;
}
.intro {
    max-width: 100%;
}

.intro span{
    font-size: 3rem;
    max-width: 90%;
    margin: 250px 0;
    font-weight: 200;
}

.contact-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-top: 150px;
    margin: 0;
    margin-right: 0;
}

.contact-me img{
    width: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.imessage-green p {
    display: flex;
    flex-direction: column;
    top: 0;
    position: relative;
    padding-top: 20px;
    font-weight: 500;
}
.imessage-green input[type=text],.imessage-green input[type=email],.imessage-green textarea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding:10px;
    margin:30px 0;
    border: 1px thin #717170;
    width: 350px;
    position: relative;
    background-color: none;
    max-width: 100%;
}

#emoji, #emoji2 {
    display: inline-flex;
}

h2 {
    text-decoration: underline;
    text-decoration-color: #007AFE;
}

footer {
    margin: 300px auto 0 auto;
    padding: 10px;
    text-align: center;
}

.imessage-green input[type=submit] {
    display: flex;
    justify-content: center;
    align-content: center;
    padding:10px;
    margin:30px auto;
    width: 100px;
    font-size: .8rem;
    letter-spacing: 2px;
    overflow: hidden;
    position: relative;
    transition: .5s;
    text-decoration: none;
    background-color: #fff;
    border-radius: 3px;
    border-style: solid;
    cursor: pointer;

}
input[type=submit]::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}
input[type=submit]:hover::before {
    height: 100%;
}
input[type=submit]:hover {
    transition: 0.5s;
    background-color: #bebebe;
    color: #fff;
}
.imessage-green {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #35C759;
    opacity: 0.7;
    width: 500px;
    max-width: 100%;
    border-radius: 50px;
    margin: 30px 100px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.imessage-blue {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 123, 254, 0.486);
    min-width: 50%;
    max-width: 90%;
    border-radius: 50px;
    margin-left: 200px;
    margin-right: 200px;
    vertical-align: top;
    height: auto;
    margin-top: -20px;
    justify-content: stretch;
    align-items: flex-start;
    position: relative;
}

.contact {
    font-weight: 500;
    margin: auto auto 300px 10%;
}

#profile-sticker img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;
    margin: 20px auto 0px 30px;

}

.imessage-blue span {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2rem 2.5rem;
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
}
.imessage-blue ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2rem 2.5rem;
}
.imessage-blue li {
    font-weight: 300;
    margin-right: 20px;
}

#project-img img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 100px;
    max-width: 85%;
    height: auto;
    position: relative;
    margin: 50px;
    border-radius: 0.5rem;
    cursor: pointer;
}
#project-img span {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    height: auto;
    border-radius: 0.5rem;
    text-align: center;
}

.modal-content video {
    position: relative;
    border-radius: 0.5rem;
    max-width: 80%;
    height: auto;
    margin: 20px auto;
}

#link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content p {
    padding: 5px auto;
    font-size: 1.5rem;
    font-weight: 500;
}

.modal-content a{
    padding: 5px;
}
.modal-content span {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.modal-content img {
    position: relative;
    width: 40px;
    height: auto;
    margin: 0px 5px;
    opacity: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 10px;
}
.close:hover,
.close:focus,
.modal-content a:hover
.modal-content a:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */

}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
   imessage-blue {
       font-size: 50%;
   }
}
@media only screen and (device-width: 768px) {
   /* default iPad screens */
   imessage-blue {
    font-size: 70%;
}
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}